<footer class="footer footer-unloaded">
    <!-- social  -->
    <% if(theme.social) { %>
    <div class="social">
        <%- partial('base-social') %>
    </div>
    <% } %>
    <!-- powered by Hexo  -->
    <div class="copyright">
        <span id="hexo-power">Powered by <a href="https://hexo.io/" target="_blank">Hexo</a></span><span class="iconfont-archer power">&#xe635;</span><span id="theme-info">theme <a href="https://github.com/fi3ework/hexo-theme-archer" target="_blank">Archer</a></span>
    </div>
    <!-- CNZZ -->
    <!-- Chrome Safe blok -->
    <!-- <script type="text/javascript" src="https://s95.cnzz.com/z_stat.php?id=1259245057&web_id=1259245057"></script> -->
    <!-- Function -->
    <script>
        var cnzz_s_tag = document.createElement('script');
        cnzz_s_tag.type = 'text/javascript';
        cnzz_s_tag.async = true;
        cnzz_s_tag.charset = 'utf-8';
        cnzz_s_tag.src = 'https://w.cnzz.com/c.php?id=1259245057&async=1';
        var root_s = document.getElementsByTagName('script')[0];
        root_s.parentNode.insertBefore(cnzz_s_tag, root_s);
    </script>
    <!-- 不蒜子  -->
    <% if (theme.busuanzi) { %>
    <div class="busuanzi-container">
    <% var sloganPieces = theme.busuanzi_slug.split('${count}') %>
    <% if(theme.busuanzi_pv_or_uv === 'pv') { %> 
    <span id="busuanzi_container_site_pv"><%- sloganPieces[0] %><span id="busuanzi_value_site_pv"></span><%- sloganPieces[1] %></span>
    <% } else if (theme.busuanzi_pv_or_uv === 'uv') { %>
    <span id="busuanzi_container_site_uv"><%- sloganPieces[0] %><span id="busuanzi_value_site_uv"></span><%- sloganPieces[1] %></span>
    <% } %>
    </div>
    <% } %>
</footer>